BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
InsertBraces: true
ColumnLimit: 100

IncludeCategories:
  - Regex: '^<'
    Priority: 3
  - Regex: '^<(gmock|gtest|spdlog|fftw-cpp)/'
    Priority: 2
  - Regex: '.*'
    Priority: 1
